/* General styles */
html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FCFAEC;
}

main {
    margin-top: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header .logo img {
    height: 60px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #3b6e58;
    border-radius: 10px;
}

header nav ul li .book-now {
    border-radius: 10px;
    background-color: #FCFAEC;
    border: 2px solid #275347;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

header nav ul li .book-now:hover {
    background-color: #244c41b1;
    border-radius: 10px;
}

.hero {
    position: relative;
    background-image: url('images/home_bg.jpeg'); 
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    min-height: 500px;
    z-index: 1;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.title {
    background: #FCFAEC;
    font: bold;
    text-align: center;
    padding: 10px 10px;
    color: #20332E;
    position: relative;
}

.title h1 {
    font-size: 3em;
    margin: 0;
    margin-top: 50px;
}

.title h2 {
    font-size: 1em;
    margin: 10px 0;
    color: #828282;
}

.title p {
    margin: 20px auto;
    font-size: 1.1em;
}

.hero-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto 0; 
    position: relative;
    z-index: -2; 
}

.search-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    z-index: 2;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f6ee;
    border: 2px solid #275347;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.dropdown-container {
    margin: 0 5px;
    width: 40%;
}

label {
    margin-right: 10px;
}

select.form-select {
    padding: 10px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button.btn-search {
    padding: 10px 20px;
    background-color: #244C41;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button.btn-search:hover {
    background-color: #B89B82;
}

.card {
    transition: transform 0.2s;
}

.card.selected {
    transform: translateY(-10px);
}

.offerings {
    background-color: #FCFAEC;
    padding: 40px 20px;
    text-align: left;
}

.offerings-header {
    margin-bottom: 20px;
    background-color: #275347;
    color: white;
    border: none;
    padding: 10px 20px;
}

.offerings-header h2 {
    font-size: 2em;
    color: #FCFAEC;
    font: bold;
}

.offerings-header p {
    font-size: 1.2em;
    color: #F7F7F7;
}

.offerings-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
}

.card p {
    color: #555;
}

.instructors {
    background-color: #FCFAEC;
    padding: 40px 0;
    width: 100%;
}

.instructors-header {
    margin-bottom: 20px;
    background-color: #275347;
    color: white;
    padding: 20px;
    text-align: left;
}

.instructors-header h2 {
    font-size: 2em;
    color: #FCFAEC;
    font: bold;
}

.instructors-header p {
    font-size: 1.2em;
    color: #F7F7F7;
    
}

.instructor-card {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    text-align: left;
    position: relative;
    background: none;
}

.instructor-card.reverse {
    flex-direction: row-reverse;
}

.instructor-card img {
    width: 300px;
    height: 350px;
    object-fit: cover;
    margin-left: 20px;
    border: 3px solid #275347;
}

.instructor-card.reverse img {
    margin-left: 0;
    margin-right: 20px;
}

.instructor-info {
    flex: 1;
    padding: 20px;
}

.instructor-title {
    background-color: #3b6e58b9;
    padding: 15px;
    margin-bottom: 20px;
    border: 1.5px solid #275347;
    text-align: center;
    color: #FCFAEC;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -105%); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    
}

.instructor-title h3 {
    font-size: 1.5em;
    margin: 0;
}

.instructor-info p {
    color: #555;
    margin: 10px 0;
}



.container {
    width: 80%;
    margin: 0 auto;
}

.location {
    width: 100%;
    background-color: #FCFAEC;
    color: #FCFAEC;
    padding: 0;
    text-align: left;
    border-bottom: 20px solid #244C41;
}

.location h2 {
    margin: 0;
    padding-top: 30px;
    padding: 10px 40px;
    background-color: #244C41;
}

.location h4 {
    margin: 0;
    padding: 0 40px;
    padding-bottom: 30px;
    background-color: #244C41;
    font-size: 1.2em;
    color: #F7F7F7;
}

.location p {
    margin: 0;
    padding-bottom: 20px;
}

.location-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.location-map img {
    width: 100%;
    max-width: 900px;
    border-right: 15px solid #244C41;
}

.location-info {
    max-width: 500px;
    text-align: left;
    padding-left: 125px;
}

.location-info h3 {
    margin-top: 0;
    color: #000000;
    text-decoration: underline;
}

.location-info p {
    margin: 5px 0;
    color: #000000;
}

.booking-section {
    background-color: #FCFAEC;
    padding: 40px 20px;
}

.booking-header {
    background-color: #3b6e58;
    color: #FCFAEC;
    text-align: left;
    padding: 20px 30px;
}

.booking-header h2 {
    margin: 0;
    font-size: 1.8em;
}

.booking-header p {
    margin: 0;
    font-size: 1.2em;
}

.booking-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.booking-column {
    flex: 1;
    margin:  10px;
    background-color: rgba(59, 110, 88, 0.1);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3b6e58;
    margin-top: 5%;
    height: 500px;
}

.section-header {
    background-color: #3b6e58;
    color: #FCFAEC;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.4em;
    position:relative;
    top: -15%;
    left: 50%;
    transform: translate(-50%, 25%); 
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

.form-group {
    margin: 10px 0;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.1em;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group select[multiple] {
    height: 100px;
    
}


.booking-footer {
    width: 105%;
    color: #FCFAEC;
    text-align: center;
    margin-top: 20px;
    padding: 40px;
    background-color: #789987;
    border-radius: 0;
    margin-bottom: 70px;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%); 
}

.booking-footer h2 {
    width:50%;
    margin: 0;
    font-size: 1.8em;
    padding-bottom: 40px;
    background-color: #244C41;
    color: #FCFAEC;
    padding: 10px 5px;
    border-radius: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.booking-footer form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.booking-footer .form-group {
    margin: 10px;
    flex: 1;
    min-width: 200px;
}

.booking-footer .form-group label {
    display: block;
    background-color: #3b6e58;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
}

.booking-footer .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.booking-footer button {
    padding: 10px 20px;
    background-color: #244C41;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 1.1em;
}

.booking-footer button:hover {
    background-color: #3b6e58;
}

#booking-confirmation {
    background-color: #FCFAEC;
    padding: 40px 20px;
}

.confirmation-header {
    background-color: #3b6e58;
    color: #FCFAEC;
    text-align: left;
    padding: 20px 30px;
}

.confirmation-header h2 {
    margin: 0;
    font-size: 1.8em;
}

.confirmation-header p {
    margin: 0;
    font-size: 1.2em;
}

.confirmation-body {
    margin: 20px 0;
}

.booking-details {
    margin: 20px 0;
}

.booking-details h3 {
    margin-bottom: 10px;
}

.booking-details p {
    margin: 5px 0;
}

#make-another-reservation {
    padding: 10px 20px;
    background-color: #244C41;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

#make-another-reservation:hover {
    background-color: #3b6e58;
}

footer {
    background-color: #244C41;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}